<app-header></app-header>
<!-- forgot password section -->
<div class="container forgot-pw">
    <div class="forgot-pw-form">
        <form #forgotpasswd="ngForm" (ngSubmit)="ForgotPassword(forgotpasswd)">
            <ng-container>
                <div class="reset-pw-head">
                    <span id="auth-head">
                        <h2>Forgot Password</h2>
                    </span>
                </div>
            </ng-container>
            <ng-container *ngIf="resSignupMsg">
                <div *ngIf="resSignupMsgCheck=='danger'" class="alert alert-danger" role="alert" #test>
                    {{ resSignupMsg }}
                    <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                </div>
                <div *ngIf="resSignupMsgCheck=='success'" class="alert alert-success" role="alert" #test>
                    {{ resSignupMsg }}
                    <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                </div>
                <div *ngIf="resSignupMsgCheck=='warning'" class="alert alert-warning" role="alert"
                    id="loginAlert">
                    {{ resSignupMsg }}
                </div>
            </ng-container>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label for="Email">Email Address*</label>
                        <input class="form-control" type="email" id="email" autocomplete="off"
                            (input)="validateEmail($event)" name="email" ngModel required>
                        <h6 class="text-danger" *ngIf="invalidEmail">
                            {{
                            invalidEmail
                            ? "Invalid Email"
                            : ""
                            }}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="userCheck">
                <div class="col-12">
                    <div>
                        <label for="Password">Password*</label>
                        <input class="form-control" type="password" id="password" minlength="8" autocomplete="off" name="password"
                            [(ngModel)]="password" required>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="userCheck">
                <div class="col-12">
                    <div>
                        <label for="Password">Confirm Password*</label>
                        <input class="form-control" type="password" id="confirm-password" autocomplete="off"
                            name="confirmPassword" [(ngModel)]="confirmPassword" required>
                        <p class="mt-2 text-danger" *ngIf="confirmPassword">
                            {{
                            password === confirmPassword ? "" : "Password Not Match"
                            }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 button-col">
                    <button class="form-control signin-btn" (click)="update()">Reset Password</button>
                    <button class="form-control cancel-btn" routerLink="/profile/auth">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>