.forgot-pw {
	.forgot-pw-form {
		.fa-close:hover {
			cursor: pointer;
		}
		width: 50%;
		margin: 30px auto;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		border: 1px solid #d7d1d1;
		border-radius: 10px;
		form {
			.form-control:focus {
				border: 1px solid #ced4da;
				box-shadow: none;
			}
			.reset-pw-head {
				display: flex;
				margin-bottom: 30px;
				align-items: center;
				justify-content: space-between;
				#auth-head {
					h2 {
						margin-bottom: 0;
					}
				}
				.pw-icon-class {
					cursor: pointer;
					width: 25px;
					text-align: center;
					background: whitesmoke;
					border-radius: 100%;
					i {
						font-weight: 0;
					}
				}
			}

			padding: 30px;
			input {
				margin: 10px 0;
			}
            .button-col {
                display: flex;
                width: fit-content;
                white-space: nowrap;
                .signin-btn {
                    font-size: 18px;
                    margin: 20px auto;
                    color: white;
                    background: #55b15c;
                }
                .cancel-btn {
                    font-size: 18px;
                    margin: 20px 15px;
                    background: whitesmoke;
                }
        }
		}
	}
}
@media(max-width:767px) {
	.forgot-pw {
		.forgot-pw-form {
			width: 100%;
		}
	}
}