<app-header></app-header>
<section class="page-not-found">
    <div class="container">
        <div class="row">
            <div class="desc">
                <h1 class="head">404</h1>
                <h2 class="head">Page Not Found!</h2>
                <p>The page you are looking for does not exist. But you can click the button below to go back to the
                    Homepage.
                </p>
                <button class="btn shop" routerLink="/">Go to Home</button>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>