.card-page {
    margin: 30px 0;
    .list-header {
        align-items: end;
        display: grid;
        grid-template-columns: 28% 72%;
        margin-left: 35px;
        position: relative;
        .list-heading {
            h2 {
                margin: 0;
                padding: 0;
            }
            span {
                a {
                    color: #6b6666;
                    text-decoration: none;
                    &:hover {
                        color: #55b15c;
                        text-decoration: underline;
                    }
                }
            }
        }
        .product_view {
            border: 1px solid #dedede;
            border-radius: 5px;
            text-align: center;
        }
        .grid-list-view {
            display: flex;
            justify-content: space-between;
            align-items: end;
            position: relative;
            .nav-pills .nav-link.active,
            .nav-pills .show>.nav-link {
                color: #fff;
                background-color: #55b15c;
            }
            .nav-link {
                color: #000;
                padding: 0.3rem 1rem;
                cursor: pointer;
            }
            button {
                border: 1px solid #000;
                background: none;
            }
            .sort-by-search {
                display: flex;
                width: 390px;
                justify-content: space-between;
                .dropdown {
                    margin-right: 10px;
                    .form-select {
                        padding: 0.5rem 0.5rem;
                        color: #6c757d;
                        width: 180px;
                    }
                }
            }
            .p-input-icon-left:hover {
                input {
                    border: 1px solid #55b15c;
                }
            }
            .p-inputtext:enabled:focus {
                box-shadow: 0 0 0 0.2rem #92eb9a;
                border-color: #55b15c;
            }
        }
        .suggestion-list {
            position: absolute;
            right: 0;
            top: 62.5px;
            z-index: 1;
            .card {
                width: 220px;
                overflow: auto;
                max-height: 300px;
                ul {
                    li {
                        list-style: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .product-list {
        display: grid;
        grid-template-columns: 30% auto;
        .absolute {
            display: none;
            position: fixed;
            bottom: 80px;
            right: 40px;
            z-index: 999;
            cursor: pointer;
            h5 {
                border: none;
                background: var(--primary);
                color: #fff;
                border-radius: 100%;
                padding: 6px 10px;
                box-shadow: 4px 4px 9px 1px rgb(0 0 0 / 15%);
            }
        }
        .filter {
            border: 2px solid #f0f0f0;
            border-radius: 10px;
            margin: 11px 30px;
            height: fit-content;
            position: sticky;
            top: 15px;
            .filter-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #f0f0f0;
                padding: 20px 15px;
                h3 {
                    margin: 0;
                }
                p {
                    margin: 0;
                    a {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
            .filter-body {
                .categories {
                    padding: 20px 20px;
                    border-bottom: 1px solid #f0f0f0;
                    ul {
                        padding-left: 0;
                        margin-bottom: 0;
                        .p-field-checkbox {
                            label {
                                cursor: pointer;
                            }
                        }
                        p {
                            margin-bottom: 0.4rem;
                            a {
                                color: #000;
                                text-decoration: none;
                            }
                            a:hover {
                                text-decoration: underline;
                            }
                            li {
                                list-style: none;
                            }
                        }
                    }
                }
                .price-section {
                    padding: 20px 20px;
                    border-bottom: 1px solid #f0f0f0;
                    .price-slider {
                        padding: 8px;
                    }
                }
                .rating {
                    padding: 20px 20px;
                    border-bottom: 1px solid #f0f0f0;
                }
            }
            .apply-button {
                text-align: right;
                padding: 10px 10px;
                .filter-button {
                    width: 50%;
                    background-color: #55b15c;
                }
            }
        }
    }
    .product-listing {
        .card {
            display: grid;
            grid-template-columns: 30% auto 30%;
            margin: 11px 0;
            border: 1px solid rgb(179 177 177);
            box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
            border-radius: 8px;
        }
        .card-image {
            position: relative;
            width: 100%;
            height: 100%;
            img {
                padding: 8px 8px;
                position: absolute;
                width: 100%;
                height: 100%;
                border-top-left-radius: 18px;
                border-bottom-left-radius: 18px;
            }
            span {
                position: absolute;
                top: 15px;
                cursor: pointer;
                right: 15px;
            }
        }
        .card-desc {
            padding: 8px 20px;
            .card-title {
                margin-bottom: 0.2rem;
                h6 {
                    font-size: 20px;
                }
                p {
                    margin: 0;
                }
                .rating {
                    width: 25%;
                    display: flex;
                    justify-content: space-between;
                    i {
                        font-size: 15px;
                    }
                }
            }
            .desc {
                margin-top: 15px;
                p {
                    margin: 0;
                    font-size: 17px;
                }
                ul {
                    padding-left: 1rem;
                    li {
                        font-size: 16px;
                    }
                }
            }
        }
        .card-price-section {
            padding: 8px 20px;
            border-left: 1px solid #dedede;
            text-align: center;
            .product-price {
                font-size: 22px;
                font-weight: 700;
            }
            .stock {
                p {
                    font-size: 18px;
                }
            }
            .list-buttons {
                p {
                    border: 1px solid rgb(179 177 177);
                    padding: 6px 6px;
                    border-radius: 5px;
                    text-align: center;
                    font-weight: 600;
                    margin-left: 40px;
                    margin-right: 40px;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
                        background-color: #55b15c;
                        color: #fff;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.product-cards {
    .subcategory {
        .card {
            width: 100%;
            margin: 11px 0;
            border: 1px solid rgb(179 177 177);
            box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
            border-radius: 8px;
            .card-image {
                position: relative;
                width: 100%;
                height: 200px;
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                    padding: 8px 8px;
                }
            }
            .card-body {
                padding: 0.8rem;
                .card-title {
                    p {
                        font-size: 14px;
                    }
                }
                .list-buttons {
                    display: flex;
                    justify-content: space-between;
                    p {
                        border: 1px solid rgb(179 177 177);
                        padding: 6px 6px;
                        border-radius: 5px;
                        width: 100%;
                        text-align: center;
                        font-weight: 600;
                        cursor: pointer;
                        &:hover {
                            box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
                            background-color: #55b15c;
                            color: #fff;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .products{
        .row {
            .card {
                width: 100%;
                margin: 11px 0;
                border: 1px solid rgb(179 177 177);
                box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
                border-radius: 8px;
                height: 403px;
    
                .card-image {
                    position: relative;
                    width: 100%;
                    height: 200px;
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
    
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 18px;
                        border-top-right-radius: 18px;
                        padding: 8px 8px;
                    }
    
                    span {
                        position: absolute;
                        top: 11px;
                        background: #37793a;
                        padding: 5px 10px;
                        right: 16px;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
    
                .card-body {
                    padding: 0.8rem;
    
                    .card-title {
                        h6 {
                            margin: 0;
                            padding: 0;
                        }
    
                        p {
                            font-size: 14px;
                        }
                    }
    
                    .card-price-section {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
    
                        .card-price {
                            font-weight: 700;
                            font-size: 20px;
                        }
    
                        .rating {
                            width: 80px;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
    
                    .list-buttons {
                        display: flex;
                        justify-content: space-between;
    
                        p {
                            border: 1px solid rgb(179 177 177);
                            padding: 6px 6px;
                            border-radius: 5px;
                            text-align: center;
                            font-weight: 600;
                            cursor: pointer;
    
                            &:hover {
                                box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
                                background-color: #55b15c;
                                color: #fff;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

.recommendation-product {
    h3 {
        margin: 10px 28px;
        font-weight: 700;
    }
}

::ng-deep {
    .listing-section {
        .card-page {
            .product-list {
                .filter {
                    .shimmer-loading .ngx-shimmer {
                        height: 600px !important;
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .product-list {
        .product-cards {
            .subcategory {
                .shimmer-loading .ngx-shimmer {
                    height: 280px;
                }
            }
        }
    }
    .p-dropdown:not(.p-disabled):hover {
        border-color: #55b15c;
    }
    .p-dropdown:not(.p-disabled).p-focus {
        border-color: #55b15c;
        box-shadow: 0 0 0 0.2rem #92eb9a;
    }
    .p-dropdown,
    .p-inputtext {
        border-radius: 6px;
    }
    .p-slider .p-slider-range {
        background-color: #55b15c;
    }
    .p-slider .p-slider-handle {
        border: 1px solid #55b15c;
    }
    .p-slider:not(.p-disabled) .p-slider-handle:hover {
        background: #55b15c;
        border-color: #55b15c;
        box-shadow: none;
    }
    .p-slider:not(.p-disabled) .p-slider-handle:hover {
        background: #55b15c;
        border-color: #55b15c;
    }
    .p-slider .p-slider-handle:focus {
        box-shadow: 0 0 0 0.2rem #73bc79;
    }
    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: #73bc79;
        background: #73a577;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: #73bc79;
        background: #73bc79;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: #73bc79;
        background: #73bc79;
        color: #ffffff;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        outline: 0 none;
        outline-offset: 0;
        border-color: #73bc79;
        box-shadow: none;
    }
    .p-checkbox .p-checkbox-box:focus {
        box-shadow: none;
    }
    .p-carousel .p-carousel-indicators {
        display: none;
    }
    .p-button {
        color: #ffffff;
        background: #73bc79;
        border: 2px solid #73bc79;
    }
    .p-button:hover {
        color: #ffffff;
        background: #73bc79;
        border: 2px solid #0a2a0d;
    }
    .p-button:enabled:hover {
        background: #73bc79;
        border-color: #6ba06f;
    }
    .p-button:focus {
        box-shadow: 0 0 0 0.2rem #97d69c;
    }
    .p-carousel .p-carousel-content .p-carousel-prev,
    .p-carousel .p-carousel-content .p-carousel-next {
        margin: 0;
    }
    .p-input-icon-left>.p-inputtext {
        padding-left: 0.5rem;
    }
    .p-input-icon-left>i:first-of-type {
        left: 10rem;
    }
}

@media (max-width: 1400px) {
    .p-button {
        padding: 6px;
    }
}

@media (max-width: 1200px) {
    .product-cards {
        .card {
            .card-image {
                height: 250px;
            }
        }
    }
    .card-page {
        .product-list {
            .filter {
                .apply-button {
                    .filter-button {
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 950px;
    }
    .card-page {
        .list-header {
            .list-heading {
                span {
                    display: none;
                }
            }
            .grid-list-view {
                .sort-by-search {
                    justify-content: center;
                    .dropdown {
                        .form-select {
                            width: 150px;
                        }
                    }
                }
            }
        }
        .product-list {
            .filter {
                .filter-heading {
                    h3 {
                        font-size: 1.4rem;
                    }
                }
                .apply-button {
                    .filter-button {
                        width: 90%;
                    }
                }
                .filter-body {
                    .categories {
                        padding: 20px 15px;
                        h4 {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    .p-input-icon-left {
        .p-inputtext {
            width: 150px;
        }
        i:first-of-type {
            left: 7rem;
        }
    }
}

@media (max-width: 850px) {
    .product-cards {
        .card {
            .card-image {
                height: 200px;
            }
            .card-body {
                .card-price-section {
                    .card-price {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .card-page {
        .list-header {
            .grid-list-view {
                .nav-link {
                    padding: 0.3rem 0.5rem;
                }
            }
            .list-heading {
                font-size: 15px;
            }
        }
        .product-list {
            .filter {
                .filter-body {
                    .categories {
                        ul {
                            .p-field-checkbox {
                                label {
                                    font-size: 14px;
                                    margin: 0 !important;
                                }
                            }
                        }
                    }
                    .rating {
                        label {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
     ::ng-deep {
        .p-checkbox .p-checkbox-box {
            height: 15px;
            width: 15px;
        }
    }
}

@media (max-width: 767px) {
    .card-page {
        .list-header {
            grid-template-columns: 70% 30%;
            align-items: baseline;
            .grid-list-view {
                display: block;
                .sort-by-search {
                    display: block;
                    width: auto;
                    text-align: right;
                    .dropdown {
                        display: none;
                    }
                }
            }
            .product_view {
                display: none;
            }
            .list-heading {
                span {
                    display: none;
                }
            }
        }
        .product-list {
            display: block;
            .filter {
                display: none;
            }
            .absolute {
                display: block;
            }
        }
    }
    .product-cards {
        margin: 0 30px;
    }
}

@media (max-width: 600px) {
    .card-page {
        .list-header {
            align-items: baseline;
            .list-heading {
                h2 {
                    font-size: 1.4rem;
                }
            }
            .grid-list-view {
                .sort-by-search {
                    padding-right: 35px;
                    justify-content: end;
                    .dropdown {
                        .form-select {
                            width: 100px;
                        }
                    }
                }
            }
        }
        .p-dropdown {
            width: 100px;
        }
    }
    .product-cards {
        .card {
            .card-body {
                .list-buttons {
                    justify-content: end;
                    p {
                        font-size: 16px;
                    }
                    .p-button-raised {
                        font-size: 16px;
                        height: 32px !important;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .p-input-icon-left {
        .p-inputtext {
            width: 100px;
        }
        i:first-of-type {
            left: 4.5rem;
        }
    }
}

.filter_model {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    padding: 20px;
    overflow-y: hidden;
    .filter {
        width: 100%;
        height: 90vh;
        overflow-y: scroll;
        float: left;
        padding: 15px;
        margin: 10px 0;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #dedede;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        hr {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        .filter-heading {
            display: flex;
            justify-content: space-between;
            h3 {
                display: flex;
                #close {
                    overflow: hidden;
                    position: relative;
                    border: none;
                    border-radius: 50%;
                    background: transparent;
                    color: rgb(0, 0, 0);
                    font-size: 18px;
                    text-indent: 100%;
                    cursor: pointer;
                    &:focus {
                        outline: solid 0 transparent;
                        box-shadow: 0 0 0 2px #8ed0f9;
                    }
                    &:hover {
                        background: rgba(29, 161, 142, 0.1);
                    }
                    &:before,
                    &:after {
                        position: absolute;
                        bottom: 5%;
                        left: calc(50% - 0.0625em);
                        width: 0.125em;
                        height: 70%;
                        border-radius: 0.125em;
                        transform: rotate(45deg);
                        background: currentcolor;
                        content: "";
                    }
                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
            p {
                a {
                    font-size: 1rem;
                    color: #000000;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
        .filter-body {
            margin-top: 30px;
            .categories {
                h4 {
                    margin-bottom: 20px;
                }
                ul {
                    padding: 0;
                }
            }
            .price-section {
                h4 {
                    margin-bottom: 20px;
                }
            }
            .rating {
                margin: 20px 0;
            }
            .dropdown {
                margin-top: 20px;
            }
        }
    }
}