<app-header></app-header>
<div class="container">
    <section class="custom-blade-form row">
        <div class="col-lg-8">
            <div class="checkout-body">
                <div class="billing-detail" id="backToTop">
                    <div class="card">
                        <h3>Custom Blend Solutions</h3>
                        <form [formGroup]="chemistForm"
                            (ngSubmit)="saveAskChemistDetail()"
                            #chemist="ngForm">
                            <ng-container *ngIf="resSignupMsg">
                                <div *ngIf="resSignupMsgCheck=='danger'"
                                    class="alert alert-danger" role="alert"
                                    id="loginAlert" #test>
                                    {{ resSignupMsg }}
                                    <span class="icon-class"><i class="fa
                                            fa-close"
                                            (click)="close()"></i></span>
                                </div>
                                <div *ngIf="resSignupMsgCheck=='success'"
                                    class="alert alert-success" role="alert"
                                    id="loginAlert" #test>
                                    {{ resSignupMsg }}
                                    <span class="icon-class"><i class="fa
                                            fa-close"
                                            (click)="close()"></i></span>
                                </div>
                            </ng-container>
                            <!-- <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Please
                                            describe your query here *</label>
                                        <textarea class="form-control mt-2"
                                            id="exampleFormControlTextarea1"
                                            rows="3" formControlName="textarea"
                                            [class.is-invalid]="chemist.submitted &&
                                            chemistForm.get('textarea')?.invalid"
                                            class="form-control mt-2" required></textarea>
                                        <div class="invalid-feedback">
                                            Please Add Your Query
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-lg-6 col-12 Fname mb-2">
                                    <label for="first-name">First Name*</label>
                                    <input type="text" class="form-control fname
                                        my-2" placeholder="First name"
                                        id="first-name"
                                        formControlName="firstname"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('firstname')?.invalid"
                                        required>
                                    <div class="invalid-feedback">
                                        First Name is Required
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-2">
                                    <label for="last-name">Last Name*</label>
                                    <input type="text" class="form-control my-2"
                                        placeholder="Last name"
                                        formControlName="lastname"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('lastname')?.invalid"
                                        required>
                                    <div class="invalid-feedback">
                                        Last Name is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12 Email mb-2">
                                    <label for="Email Address">Email Address*</label>
                                    <input type="email" class="form-control my-2
                                        email" placeholder="Email"
                                        id="Email-Address"
                                        (input)="validateEmail($event)"
                                        formControlName="email"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('email')?.invalid"
                                        required>
                                    <h6 class="text-danger"
                                        *ngIf="invalidEmail">
                                        {{ invalidEmail ? "Invalid Email" : ""
                                        }}
                                    </h6>
                                    <div class="invalid-feedback">
                                        Email is Required
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-2">
                                    <label for="Phone">Mobile Number*</label>
                                    <input type="text" class="form-control my-2"
                                        placeholder="Mobile Number"
                                        maxlength="10"
                                        (input)="validateMobile($event)"
                                        (keydown)="inputMobile($event)"
                                        formControlName="phone"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('phone')?.invalid"
                                        required>
                                    <h6 class="text-danger"
                                        *ngIf="invalidMobile">
                                        {{ invalidMobile ? "Invalid Mobile" : ""
                                        }}
                                    </h6>
                                    <div class="invalid-feedback">
                                        Mobile Number is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">What are you looking to
                                        clean?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname my-2" placeholder="" id=""
                                            formControlName="input_11">
                                        <!-- <div class="invalid-feedback">
                                            Please Enter chemicals
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">What type of soil or
                                        dirt are you looking to clean?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname my-2" placeholder=""
                                            formControlName="input_12">
                                        <!-- <div class="invalid-feedback">
                                            Please Enter chemicals
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">What product are you
                                        currently utilizing and what amount?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname my-2"
                                            formControlName="input_13"
                                            placeholder=""
                                            id="">
                                        <!-- <div class="invalid-feedback">
                                            Please Enter chemicals
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">Why are you looking to
                                        change the product?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname my-2" placeholder=""
                                            formControlName="input_14">
                                        <!-- <div class="invalid-feedback">
                                            Please Enter chemicals
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">Are you looking to
                                        change any of the following: </label>
                                    <p style="font-size:14px; color: #8d8b8b;
                                        margin-bottom: 0.5rem;">Depending on the
                                        type of requests the price may vary.</p>
                                    <div class="ginput_container mb-2">
                                        <p-checkbox name="groupname"
                                            value="evaporation_rate"
                                            (onChange)="evaporate_rate_boolean=
                                            !evaporate_rate_boolean"
                                            [(ngModel)]="selected_instance"
                                            [ngModelOptions]="{standalone:
                                            true}"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Evaporation Rate</label><br>
                                        <p-checkbox name="groupname"
                                            value="flash_point"
                                            (onChange)="flash_point_boolean=
                                            !flash_point_boolean"
                                            [(ngModel)]="selected_instance"
                                            [ngModelOptions]="{standalone:
                                            true}"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Flashpoint</label><br>
                                        <p-checkbox name="groupname"
                                            value="smell"
                                            [(ngModel)]="selected_instance"
                                            [ngModelOptions]="{standalone:
                                            true}"
                                            (onChange)="odor_smell_boolean=
                                            !odor_smell_boolean"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Odor/Smell</label><br>
                                        <p-checkbox name="groupname"
                                            value="vapor_pressure"
                                            [(ngModel)]="selected_instance"
                                            [ngModelOptions]="{standalone:
                                            true}"
                                            (onChange)="vapor_pressure_boolean=!vapor_pressure_boolean"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Vapor Pressure</label><br>
                                        <p-checkbox name="groupname"
                                            value="organic_compounds"
                                            [(ngModel)]="selected_instance"
                                            [ngModelOptions]="{standalone:
                                            true}" (onChange)="VOC_boolean=
                                            !VOC_boolean"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Volatile Organic
                                            Compounds (VOC)</label><br>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="evaporate_rate_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="evaporation_input">What is your
                                        target
                                        evaporation rate?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname my-2" placeholder="" id=""
                                            formControlName="evaporation_input">
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="flash_point_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">What is your target
                                        flashpoint?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname my-2" placeholder=""
                                            formControlName="flash_point_input">
                                        <div class="invalid-feedback">
                                            Please Enter flashpoint rate
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="vapor_pressure_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">What is your target
                                        vapor pressure?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname
                                            my-2" placeholder=""
                                            formControlName="vapor_pressure_input">
                                        <div class="invalid-feedback">
                                            Please Enter vapor pressure
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="VOC_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">What is your target VOC
                                        ?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname
                                            my-2" placeholder=""
                                            id="" formControlName="VOC_input">
                                        <div class="invalid-feedback">
                                            Please Enter vapor pressure
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">How soon do you need
                                        your custom solution?</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname my-2" placeholder=""
                                            formControlName="input_15">
                                        <div class="invalid-feedback">
                                            Please Enter chemicals
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">Any specific requests?*</label>
                                    <div class="ginput_container my-2">
                                        <input type="text" class="form-control
                                            fname my-2" placeholder=""
                                            formControlName="input_16">
                                        <div class="invalid-feedback">
                                            Please Enter chemicals
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">What price range and
                                        quantity are you looking for?</label>
                                    <div class="ginput_container mb-2">
                                        <p-checkbox name="groupname"
                                            value="price"
                                            [(ngModel)]="price_quantity"
                                            [ngModelOptions]="{standalone:
                                            true}"
                                            (onChange)="price_boolean=!price_boolean"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Price Range</label><br>
                                        <p-checkbox name="groupname"
                                            value="packing"
                                            [(ngModel)]="price_quantity"
                                            [ngModelOptions]="{standalone:
                                            true}"
                                            (onChange)="packing_boolean=!packing_boolean"></p-checkbox>&nbsp;<label
                                            for="" style="color:
                                            #7b7979;font-size: 15px;">Packaging</label><br>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-1" *ngIf="price_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">Price</label>
                                    <p style="font-size:14px; color: #8d8b8b;
                                        margin-bottom: 0.5rem;">What is the
                                        price range of your current solution?.</p>
                                    <div class="ginput_container mb-2"
                                        *ngFor="let range of price_range">
                                        <input type="checkbox"
                                            [value]="range.range"
                                            [checked]="range.checked"
                                            (click)="price_range_selection($event
                                            , range.id)">&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;" name="price">{{range.range}}</label><br>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-1" *ngIf="packing_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">Packaging Size </label>
                                    <p style="font-size:14px; color: #8d8b8b;
                                        margin-bottom: 0.5rem;">Would you like
                                        your solvent in drums, pales, or aerosol
                                        cases?.</p>
                                    <div class="ginput_container mb-2">
                                        <p-checkbox name="groupname"
                                            value="drums" [(ngModel)]="selected_packaging_size"
                                            [ngModelOptions]="{standalone:
                                            true}"
                                            (onChange)="drum_boolean=!drum_boolean"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Drums</label><br>
                                        <p-checkbox name="groupname"
                                            value="pails" [(ngModel)]="selected_packaging_size"
                                            [ngModelOptions]="{standalone:
                                            true}"
                                            (onChange)="pails_boolean=!pails_boolean"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Pails</label><br>
                                        <p-checkbox name="groupname"
                                            value="cases_aerosol" [(ngModel)]="selected_packaging_size"
                                            [ngModelOptions]="{standalone:
                                            true}"
                                            (onChange)="aerosol_boolean=!aerosol_boolean"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">Cases Aerosol</label><br>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-1" *ngIf="drum_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">Quantity</label>
                                    <p style="font-size:14px; color: #8d8b8b;
                                        margin-bottom: 0.5rem;">How many drums
                                        are you looking for? 1 Drum = 55 gallons</p>
                                        <div class="ginput_container mb-2" *ngFor="let quantity of pails_object">
                                            <input type="checkbox" value="{{quantity.range}}" [checked]="quantity.checked"  (click)="drum_selection($event , quantity.id)">&nbsp;<label for=""  style="color: #7b7979; font-size: 15px;">{{quantity.range}}</label>
                                        </div>
                                </div>
                            </div>
                            <div class="row my-1" *ngIf="pails_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">Quantity</label>
                                    <p style="font-size:14px; color: #8d8b8b;
                                        margin-bottom: 0.5rem;">How many drums
                                        are you looking for? 1 Pail = 5 Gallons</p>
                                    <div class="ginput_container mb-2">
                                        <div class="ginput_container mb-2"
                                            *ngFor="let quantity of
                                            pails_object">
                                            <input type="checkbox"
                                                value="{{quantity.range}}"
                                                [checked]="quantity.checked"
                                                (click)="pails_selection($event
                                                , quantity.id)">&nbsp;<label
                                                for="" style="color: #7b7979;
                                                font-size: 15px;">{{quantity.range}}</label>
                                        </div>
                                        <!-- <p-checkbox name="groupname"
                                            value="val1" ></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;"> Uder - 36 Pails</label><br>
                                        <p-checkbox name="groupname"
                                            value="val1" ></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">36- 109 Pails</label><br>
                                        <p-checkbox name="groupname"
                                            value="val1" ></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">110 - Above</label><br> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row my-1" *ngIf="aerosol_boolean">
                                <div id="field_4_11" class="gfield">
                                    <label class="gfield_label"
                                        for="input_4_11">Quantity</label>
                                    <p style="font-size:14px; color: #8d8b8b;
                                        margin-bottom: 0.5rem;">How many aerosol
                                        cases are you looking for? 1 Case = 12
                                        Aerosol Cans</p>
                                    <div class="ginput_container mb-2">
                                        <p-checkbox name="groupname"
                                            value="val1"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;"> Under 31 Cases</label><br>
                                        <p-checkbox name="groupname"
                                            value="val1"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">31- 109 Cases</label><br>
                                        <p-checkbox name="groupname"
                                            value="val1"></p-checkbox>&nbsp;<label
                                            for="" style="color: #7b7979;
                                            font-size: 15px;">110 - over</label><br>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="street-address">Street Address*</label>
                                    <input type="text" class="form-control my-2"
                                        placeholder="Street Address"
                                        formControlName="address"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('address')?.invalid"
                                        required />
                                    <div class="invalid-feedback">
                                        Address is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-12 mb-2">
                                    <label for="Town-city">City*</label>
                                    <input type="text" class="form-control my-2"
                                        placeholder="Town / City"
                                        formControlName="city"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('city')?.invalid"
                                        required>
                                    <div class="invalid-feedback">
                                        City is Required
                                    </div>
                                </div>
                                <div class="col-6 col-12 mb-2">
                                    <label for="state">State*</label>
                                    <input type="text" class="form-control my-2"
                                        placeholder="State"
                                        formControlName="state"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('state')?.invalid"
                                        required>
                                    <div class="invalid-feedback">
                                        State is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="State-County">Country*</label>
                                    <input type="text" class="form-control my-2"
                                        placeholder="Country"
                                        formControlName="country"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('country')?.invalid"
                                        required>
                                    <div class="invalid-feedback">
                                        Country is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="Postcode">ZIP Code*</label>
                                    <input type="text"
                                        (input)="validatePincode($event)"
                                        maxlength="6"
                                        (keydown)="inputPincode($event)"
                                        class="form-control my-2"
                                        placeholder="ZIP Code"
                                        formControlName="zip"
                                        [class.is-invalid]="chemist.submitted &&
                                        chemistForm.get('zip')?.invalid"
                                        required>
                                    <h6 class="text-danger"
                                        *ngIf="invalidPostalCode">
                                        {{ invalidPostalCode ? "Invalid ZIP
                                        Code" :
                                        "" }}
                                    </h6>
                                    <div class="invalid-feedback">
                                        ZIP Code is Required
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <ngx-recaptcha2 #captchaElem
                                        siteKey="6LdK4vwgAAAAAO2xbhd5dgap9bbXByZEEC8_LQIQ"
                                        (success)="handleSuccess($event)"
                                        [size]="size"
                                        [hl]="lang" [theme]="theme"
                                        [type]="type"
                                        (reset)="handleReset()"
                                        formControlName="recaptcha">
                                    </ngx-recaptcha2>
                                    <p class="" *ngIf="resFormCaptchaMsg"
                                        class="captcha-css">{{resFormCaptchaMsg}}</p>
                                </div>
                            </div>

                            <div class="proceed">
                                <div class="proceed-button">
                                    <button class="btn btn-success submit-btn"
                                        (click)="goToTop()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="inner_sidebar extralight-border">
                <section id="text-5" class="widget clearfix widget_text"
                    style="margin-bottom: 0;">
                    <div class="textwidget">
                        <a class="shopButton2020" routerLink="/shop">SHOP<i
                                class="fa fa-shopping-cart"></i></a>
                        <br>
                        <a class="requestButton2020"
                            (click)="routeOnSamePage('contact/request ')">REQUEST
                            A
                            SAMPLE<i class="fa fa-thumbs-up"
                                aria-hidden="true"></i>
                        </a><br>
                        <a class="pdsButton2020"
                            (click)="routeOnSamePage('contact/support ')">REQUEST
                            PDS /
                            TDS<i class="fa fa-calculator"
                                aria-hidden="true"></i>
                        </a><br>
                        <a class="contactButton2020"
                            (click)="routeOnSamePage('contact ')">CONTACT US<i
                                class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </div>
                    <span class="seperator extralight-border"></span>
                </section>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>