<section class="chemist-section">
    <div class="container">
        <div class="body-head">
            <h2>Need a Technical Question Answered? Call 800-563-1305 or Complete the Form Below</h2>
            <p>Feel free to fill out the form below and one of our qualified personnel will correspond to your needs.
            </p>
        </div>
    </div>
</section>
<section class="ask-form">
    <div class="container">
        <div class="checkout-body">
            <div class="billing-detail" id="backToTop">
                <div class="card">
                    <h3>Ask the Chemist</h3>
                    <!-- <form #askchemist="ngForm" (ngSubmit)="saveAskChemistDetail(askchemist)" id="backToTop"> -->
                    <form [formGroup]="chemistForm" (ngSubmit)="saveAskChemistDetail()" #chemist="ngForm">
                        <ng-container *ngIf="resSignupMsg">
                            <div *ngIf="resSignupMsgCheck=='danger'" class="alert alert-danger" role="alert" id="loginAlert" #test>
                                {{ resSignupMsg }}
                                <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                            </div>
                            <div *ngIf="resSignupMsgCheck=='success'" class="alert alert-success" role="alert" id="loginAlert" #test>
                                {{ resSignupMsg }}
                                <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                            </div>
                        </ng-container>
                        <div id="field_4_11" class="gfield">
                            <label class="gfield_label" for="input_4_11">I am interested in*</label>
                            <div class="ginput_container my-2">
                                <select formControlName="input_11" id="input_4_11" class="gfield_select col-12" aria-R="true" aria-invalid="false" [class.is-invalid]="chemist.submitted && chemistForm.get('input_11')?.invalid" required>
                                    <option value="abatement">VOC abatement</option>
                                    <option value="performance">Improving chemical performance
                                    </option>
                                    <option value="Regulatory">Regulatory compliance
                                        (EPA, OSHA, CARB, OTC)</option>
                                    <option value="Safety">Safety Kleen replacement</option>
                                    <option value="Other">Other – please specify in
                                        messages section</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please Select Atleast One Option
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Please describe your query here *</label>
                                    <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3" formControlName="textarea" [class.is-invalid]="chemist.submitted && chemistForm.get('textarea')?.invalid" class="form-control mt-2" required></textarea>
                                    <div class="invalid-feedback">
                                        Please Add Your Query
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-12 Fname">
                                <label for="first-name">First Name*</label>
                                <input type="text" class="form-control fname my-2" placeholder="First name" id="first-name" formControlName="firstname" [class.is-invalid]="chemist.submitted && chemistForm.get('firstname')?.invalid" required>
                                <div class="invalid-feedback">
                                    First Name is Required
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="last-name">Last Name*</label>
                                <input type="text" class="form-control my-2" placeholder="Last name" formControlName="lastname" [class.is-invalid]="chemist.submitted && chemistForm.get('lastname')?.invalid" required>
                                <div class="invalid-feedback">
                                    Last Name is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-12 Email">
                                <label for="Email Address">Email Address*</label>
                                <input type="email" class="form-control my-2 email" placeholder="Email" id="Email-Address" (input)="validateEmail($event)" formControlName="email" [class.is-invalid]="chemist.submitted && chemistForm.get('email')?.invalid" required>
                                <h6 class="text-danger" *ngIf="invalidEmail">
                                    {{ invalidEmail ? "Invalid Email" : "" }}
                                </h6>
                                <div class="invalid-feedback">
                                    Email is Required
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="Phone">Mobile Number*</label>
                                <input type="text" class="form-control my-2" placeholder="Mobile Number" maxlength="10" (input)="validateMobile($event)" (keydown)="inputMobile($event)" formControlName="phone" [class.is-invalid]="chemist.submitted && chemistForm.get('phone')?.invalid" required>
                                <h6 class="text-danger" *ngIf="invalidMobile">
                                    {{ invalidMobile ? "Invalid Mobile" : "" }}
                                </h6>
                                <div class="invalid-feedback">
                                    Mobile Number is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="street-address">Street Address*</label>
                                <input type="text" class="form-control my-2" placeholder="Street Address" formControlName="address" [class.is-invalid]="chemist.submitted && chemistForm.get('address')?.invalid" required />
                                <div class="invalid-feedback">
                                    Address is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-12">
                                <label for="Town-city">City*</label>
                                <input type="text" class="form-control my-2" placeholder="Town / City" formControlName="city" [class.is-invalid]="chemist.submitted && chemistForm.get('city')?.invalid" required>
                                <div class="invalid-feedback">
                                    City is Required
                                </div>
                            </div>
                            <div class="col-6 col-12">
                                <label for="state">State*</label>
                                <input type="text" class="form-control my-2" placeholder="State" formControlName="state" [class.is-invalid]="chemist.submitted && chemistForm.get('state')?.invalid" required>
                                <div class="invalid-feedback">
                                    State is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="State-County">Country*</label>
                                <input type="text" class="form-control my-2" placeholder="Country" formControlName="country" [class.is-invalid]="chemist.submitted && chemistForm.get('country')?.invalid" required>
                                <div class="invalid-feedback">
                                    Country is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="Postcode">ZIP Code*</label>
                                <input type="text" (input)="validatePincode($event)" maxlength="6" (keydown)="inputPincode($event)" class="form-control my-2" placeholder="ZIP Code" formControlName="zip" [class.is-invalid]="chemist.submitted && chemistForm.get('zip')?.invalid" required>
                                <h6 class="text-danger" *ngIf="invalidPostalCode">
                                    {{ invalidPostalCode ? "Invalid ZIP Code" : "" }}
                                </h6>
                                <div class="invalid-feedback">
                                    ZIP Code is Required
                                </div>
                            </div>
                        </div>
                        <div class="proceed">
                            <div class="proceed-button">
                                <button class="btn btn-success submit-btn" (click)="goToTop()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>