.Edit-Profile-section {
    padding: 20px 40px;
    .edituserdetail {
        width: fit-content;
    }
    .form-control {
        margin: 12px 0;
    }
    .btn {
        background: var(--primary);
        border: var(--primary);
        color: #fff;
    }
    .add-user {
        text-align: "right";
        margin-top: 20px;
    }
    .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(77, 207, 77, 0.25);
    }
    .card {
        // box-shadow: 0 8px 8px #0a10143d, 0 0 8px #0a10141f;
        padding: 20px;
    }
    .head {
        // margin: 30px 0;
    }
}

form {
    .row {
        .alert-danger {
            padding: 5px 10px;
            font-size: 12px;
            margin-top: 5px;
        }
    }
}

@media (max-width: 992px) {
    .Edit-Profile-section {
        .row {
            width: 100%;
            margin: 0;
        }
        .add-user {
            text-align: center;
        }
    }
}