<section class="product-request-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <section class="request-form">
                    <h1 class="main-title">Request A Product Sample</h1>
                    <p><strong>Sample Policy: </strong> Established companies and military users are welcome to request samples of Ecolink products at no charge. For international samples, we request only that you pay the freight costs by providing your
                        shipper’saccount number (FedEx, UPS, etc.)</p>
                    <p>In order to determine the most effective products for your needs, please describe your application using this short form.</p>
                    <div class="form-head" id="backToTop">
                        <h3>Request A Product Sample</h3>
                    </div>

                    <!-- <form #RequestForm="ngForm" (ngSubmit)="saveProductRequestDetail(RequestForm)" id="backToTop"> -->
                    <form [formGroup]="sampleForm" (ngSubmit)="saveProductRequestDetail()" #localForm="ngForm">
                        <ng-container *ngIf="resSignupMsg">
                            <div *ngIf="resSignupMsgCheck=='danger'" class="alert alert-danger" role="alert" id="loginAlert" #test>
                                {{ resSignupMsg }}
                                <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                            </div>
                            <div *ngIf="resSignupMsgCheck=='success'" class="alert alert-success" role="alert" id="loginAlert" #test>
                                {{ resSignupMsg }}
                                <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                            </div>
                        </ng-container>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="first-name">What item do you wish to clean & what is the surface
                                    material ?*</label>
                                <input type="text" placeholder="Type here ...." [class.is-invalid]="localForm.submitted && sampleForm.get('input1')?.invalid" class="form-control mt-2" id="first-name" formControlName="input1" required>
                                <div class="invalid-feedback">
                                    Field is Required
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="last-name">What kind of soil, grease or coating do you wish to remove
                                    ?*</label>
                                <input type="text" placeholder="Type here ...." [class.is-invalid]="localForm.submitted && sampleForm.get('input2')?.invalid" class="form-control mt-2" formControlName="input2" required>
                                <div class="invalid-feedback">
                                    Field is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="street-address">How do you currently clean this item ?*</label>
                                <input type="text" placeholder="Type here ...." [class.is-invalid]="localForm.submitted && sampleForm.get('input3')?.invalid" class="form-control mt-2" formControlName="input3" required>
                                <div class="invalid-feedback">
                                    Field is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="Town-city">What chemicals or products do you currently use and in what
                                    amounts ?*</label>
                                <input type="text" placeholder="Type here ...." [class.is-invalid]="localForm.submitted && sampleForm.get('input4')?.invalid" class="form-control mt-2" formControlName="input4" required>
                                <div class="invalid-feedback">
                                    Field is Required
                                </div>
                            </div>
                        </div>
                        <li id="field_5_10" class="field">
                            <label class="change-label">Why are you looking to change ?</label>
                            <div class="looking-change">
                                <ul class="list" id="">
                                    <li class="">
                                        <input class="" formControlName="change" type="checkbox" value="Service" id="" isSelected:true>
                                        <label for="" id="">Service</label>
                                    </li>
                                    <li class="">
                                        <input class="" formControlName="change" type="checkbox" value="Performance" id="">
                                        <label for="" id="">Performance</label>
                                    </li>
                                    <li class="">
                                        <input class="" formControlName="change" type="checkbox" value="Cost" id="">
                                        <label for="" id="">Cost</label>
                                    </li>
                                    <li class="">
                                        <input class="" formControlName="change" type="checkbox" value="Environmental Impact" id="">
                                        <label for="" id="">Environmental Impact</label>
                                    </li>
                                    <li class=" ">
                                        <input class="" formControlName="change" type="checkbox" value="other? , fill in below" id="">
                                        <label for="" id="">other? , fill in below</label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="Town-city">Other, Please explain?</label>
                                <input type="text" placeholder="Type here ...." class="form-control mt-2" formControlName="city1">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="Town-city">Shipper Acct # (FedEx, UPS):</label>
                                <input type="text" placeholder="Type here ...." class="form-control mt-2" formControlName="city2">
                            </div>
                        </div>
                        <li id="field_5_13" class="">
                            <label class="interested">I'm also interested in learning more
                                about...</label>
                            <div class="container_checkbox">
                                <ul class="checkbox" id="input_5_13">
                                    <li class="gchoice">
                                        <input class="choice-input" formControlName="input_13" type="checkbox" value="Other Ecolink products" id="choice_5_13_1">
                                        <label for="choice_5_13_1" id="label_5_13_1">Other Ecolink products</label>
                                    </li>
                                    <li class="gchoice_5_13_2">
                                        <input class="choice-input" formControlName="input_13" type="checkbox" value="How to become a distributor for Ecolink products." id="choice_5_13_2">
                                        <label for="choice_5_13_2" id="label_5_13_2">How to become a distributor for
                                            Ecolink
                                            products.</label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-12">
                                <label for="first-name">First Name*</label>
                                <input type="text" placeholder="First Name" [class.is-invalid]="localForm.submitted && sampleForm.get('firstname')?.invalid" class="form-control mt-2" id="first-name" formControlName="firstname" required>
                                <div class="invalid-feedback">
                                    First Name is Required
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="last-name">Last Name*</label>
                                <input type="text" placeholder="Last Name" [class.is-invalid]="localForm.submitted && sampleForm.get('lastname')?.invalid" class="form-control mt-2" formControlName="lastname" required>
                                <div class="invalid-feedback">
                                    Last Name is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="user-name">Email*</label>
                                <input type="email" placeholder="Email" [class.is-invalid]="localForm.submitted && sampleForm.get('email')?.invalid" class="form-control mt-2" id="first-name" (input)="validateEmail($event)" formControlName="email" required>
                                <h6 class="text-danger" *ngIf="invalidEmail">
                                    {{ invalidEmail ? "Invalid Email" : "" }}
                                </h6>
                                <div class="invalid-feedback">
                                    Email is Required
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="street-address">Mobile Number*</label>
                                <input type="text" placeholder="Mobile Number" [class.is-invalid]="localForm.submitted && sampleForm.get('phone')?.invalid" (input)="validateMobile($event)" maxlength="10" (keydown)="inputMobile($event)" class="form-control mt-2" formControlName="phone" required>
                                <h6 class="text-danger" *ngIf="invalidMobile">
                                    {{ invalidMobile ? "Invalid Mobile" : "" }}
                                </h6>
                                <div class="invalid-feedback">
                                    Mobile Number is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="street-address">Address*</label>
                                <input type="text" placeholder="Address" [class.is-invalid]="localForm.submitted && sampleForm.get('address')?.invalid" class="form-control mt-2" formControlName="address" required>
                                <div class="invalid-feedback">
                                    Address is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="street-address">Street Address</label>
                                <input type="text" placeholder="Street Address" class="form-control mt-2" formControlName="streetaddress">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-12">
                                <label for="user-name">City*</label>
                                <input type="text" placeholder="City" [class.is-invalid]="localForm.submitted && sampleForm.get('city')?.invalid" class="form-control mt-2" id="first-name" formControlName="city" required>
                                <div class="invalid-feedback">
                                    City is Required
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="last-name">State*</label>
                                <input type="text" placeholder="State" [class.is-invalid]="localForm.submitted && sampleForm.get('state')?.invalid" class="form-control mt-2" formControlName="state" required>
                                <div class="invalid-feedback">
                                    State is Required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-12">
                                <label for="user-name">ZIP Code*</label>
                                <input type="text" placeholder="ZIP Code" (input)="validatePincode($event)" (keydown)="inputPincode($event)" [class.is-invalid]="localForm.submitted && sampleForm.get('pincode')?.invalid" class="form-control mt-2" maxlength="6" id="first-name" formControlName="pincode"
                                    required>
                                <h6 class="text-danger" *ngIf="invalidPincode">
                                    {{ invalidPincode ? "Invalid ZIP Code" : "" }}
                                </h6>
                                <div class="invalid-feedback">
                                    ZIP Code is Required
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="last-name">Country*</label>
                                <input type="text" placeholder="Country" [class.is-invalid]="localForm.submitted && sampleForm.get('country')?.invalid" class="form-control mt-2" formControlName="country" required>
                                <div class="invalid-feedback">
                                    Country is Required
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-success submit-btn" (click)="goToTop()">Submit</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>