.product-request-section {
    .container {
        .row {
            .col-lg-12 {
                // border-right: 2px solid #e7e7e7;
                .request-form {
                    .fa-close:hover {
                        cursor: pointer;
                    }
                    .main-title {
                        margin-bottom: 40px;
                    }
                    .form-head {
                        margin: 30px 0;
                        h3 {
                            font-size: 1.5rem;
                        }
                    }
                    form {
                        label {
                            margin-top: 10px;
                        }
                        .field {
                            list-style: none;
                            .looking-change {
                                ul {
                                    padding: 0;
                                    list-style: none;
                                    li {
                                        input {
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        li {
                            list-style: none;
                            .container_checkbox {
                                ul {
                                    padding: 0;
                                    li {
                                        display: flex;
                                        align-items: baseline;
                                        input {
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        .submit-btn {
                            box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
                            border: 1px solid #d7d1d1;
                            border-radius: 5px;
                            font-size: 18px;
                            margin: 20px auto 0 auto;
                            color: white;
                            background: #55b15c;
                            padding: 5px 25px;
                        }
                    }
                }
            }
            .inner_sidebar {
                margin-left: 50px;
                .widget {
                    margin-bottom: 100px;
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            padding: 10px 0;
                        }
                    }
                }
                .widget_text {
                    .textwidget {
                        p {
                            a {
                                color: #000;
                                text-decoration: none;
                            }
                            .shopButton2020 {
                                background-color: #0a6fbd;
                                border-radius: 3px;
                                display: inline-block;
                                cursor: pointer;
                                color: #ffffff !important;
                                font-family: Arial;
                                font-size: 17px;
                                padding: 16px 31px;
                                text-decoration: none;
                                width: 100%;
                                text-align: center;
                                margin-bottom: 30px;
                            }
                            .requestButton2020 {
                                background-color: #009e49;
                                border-radius: 3px;
                                display: inline-block;
                                cursor: pointer;
                                color: #ffffff !important;
                                font-family: Arial;
                                font-size: 17px;
                                padding: 16px 31px;
                                text-decoration: none;
                                width: 100%;
                                text-align: center;
                                margin-bottom: 30px;
                            }
                            .pdsButton2020 {
                                background-color: #000000;
                                border-radius: 3px;
                                display: inline-block;
                                cursor: pointer;
                                color: #ffffff !important;
                                font-family: Arial;
                                font-size: 17px;
                                padding: 16px 31px;
                                text-decoration: none;
                                width: 100%;
                                text-align: center;
                                margin-bottom: 30px;
                            }
                            .contactButton2020 {
                                background-color: #777777;
                                border-radius: 3px;
                                display: inline-block;
                                cursor: pointer;
                                color: #ffffff !important;
                                font-family: Arial;
                                font-size: 17px;
                                padding: 16px 31px;
                                text-decoration: none;
                                width: 100%;
                                text-align: center;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
