.model-section {
    position: relative;

    .model-searchlist {
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        width: 100%;
        height: 100%;

        .model {
            width: 800px;
            height: 300px;
            overflow: auto;
            background: white;
            border-radius: 5px;
            padding: 0 20px;

            .suggestions {
                border-bottom: 1px solid #2333;

                h4 {
                    margin: 0;
                    padding: 0;
                    padding: 5px;

                    cursor: pointer;

                    a {
                        text-decoration: none;
                    }
                }

                h4:hover {
                    background-color: var(--primary);
                    color: #ffff;
                }
            }
        }
    }
}


.home-banner {
    margin: 10px 0;

    .container {
        .background-image {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            position: relative;
            background-size: cover;
            height: 350px;
            // background-image: url("https://2022.ecolink.com/ecolink/assets/homeBanner.jpg");
            border: 1px solid #d7d1d1;
            border-radius: 10px;

            .innerhead {
                padding: 18px 25px;

                .image {
                    width: 25%;

                    img {
                        width: 100%;
                    }
                }

                .search-bar {
                    width: 15%;
                    padding: 0 3%;

                    span {
                        background: #37793a;
                        border: 1px solid #37793a;
                        justify-content: center;
                        width: 150px;
                        border-radius: 20px;

                        a {
                            text-decoration: none;
                        }
                    }

                    input {
                        border: 1px solid white;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }
                }
            }

            .headings {
                padding: 3% 3%;
                width: fit-content;
                text-align: left;

                h1 {
                    font-size: 45px;
                    font-weight: 700;
                    color: #37793a;
                    white-space: nowrap;
                }
            }

            .bottom-line {
                padding: 3px 0;
                background: #2774ba;
                width: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                p {
                    font-size: 18px;
                    margin-bottom: 0;
                    color: white;
                }
            }
        }
    }
}

.marketing {
    margin: 30px 0;

    .container {
        .complete-section {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #d7d1d1;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 35% 65%;

            .section1 {
                padding: 25px 5px;
                align-self: center;

                .web-logo {
                    margin: 0 auto;
                    width: 65%;

                    img {
                        width: 100%;
                    }
                }

                .section-content {
                    h5 {
                        margin: 0;
                        padding: 25px 35px;
                        font-weight: 700;
                    }

                    p {
                        padding: 0 35px;
                    }
                }
            }

            .section2 {
                background: whitesmoke;
                display: grid;
                grid-template-columns: 50% 50%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

                .sub-section1 {
                    margin: 50px 0;
                    width: 100%;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    .inner-div {
                        height: 100%;
                        display: grid;
                        grid-template-rows: 65% auto;
                        width: 55%;

                        h5 {
                            margin-bottom: 0;
                        }

                        h1 {
                            font-weight: 700;
                            margin-bottom: 0;
                        }

                        .image-div {
                            display: grid;
                            align-items: center;
                        }
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.pricing-section {
    margin: 30px 0;

    .container {
        .pricing {
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #d7d1d1;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 35% 65%;

            .pricing-image {
                height: 200px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }

            .pricing-text {
                padding: 10px;
                height: 200px;
                display: grid;
                grid-template-rows: 40% auto;

                h3 {
                    font-weight: 700;
                    margin: 0;
                    text-align: center;
                    display: grid;
                    align-items: center;
                }

                p {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

.tidal-washer-section {
    margin: 30px 0;

    .container {
        .tidal-washer {
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #d7d1d1;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 65% 35%;

            .tidal-image {
                height: 200px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }

            .tidal-text {
                padding: 10px;
                height: 200px;
                display: grid;
                grid-template-rows: 40% auto;

                h3 {
                    font-weight: 700;
                    margin: 0;
                    text-align: center;
                    display: grid;
                    align-items: center;
                }

                p {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

.about-section {
    margin: 30px 0;

    .container {
        .about-us {
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #d7d1d1;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 35% 65%;

            .about-image {
                height: 200px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }

            .about-text {
                padding: 10px;
                height: 200px;
                display: grid;
                grid-template-rows: 40% auto;

                h3 {
                    font-weight: 700;
                    margin: 0;
                    text-align: center;
                    display: grid;
                    align-items: center;
                }

                p {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

.manufacturing-section {
    margin: 30px 0;

    .container {
        .manufacturing {
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #d7d1d1;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 65% 35%;

            .manufacture-image {
                height: 200px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }

            .manufacture-text {
                padding: 10px;
                height: 200px;
                display: grid;
                grid-template-rows: 40% auto;

                h3 {
                    font-weight: 700;
                    margin: 0;
                    text-align: center;
                    display: grid;
                    align-items: center;
                }

                p {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

.service-section {
    margin: 30px 0;

    .container {
        .services {
            cursor: pointer;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #d7d1d1;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 35% 65%;

            .service-image {
                height: 200px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }

            .service-text {
                padding: 10px;
                height: 200px;
                display: grid;
                grid-template-rows: 40% auto;

                h3 {
                    font-weight: 700;
                    margin: 0;
                    text-align: center;
                    display: grid;
                    align-items: center;
                }

                p {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .shop-categories {
        .container {
            .categories-text {
                grid-template-columns: 100%;

                .product-category {
                    .categories {
                        grid-template-columns: 100%;

                        .category-card {
                            .category-image {
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
    }

    .marketing {
        .container {
            .complete-section {
                grid-template-columns: 100%;

                .section1 {
                    .web-logo {
                        width: 35%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 725px;
    }
    .home-banner {
        .container {
            .background-image {
                .headings {
                    width: 100%;

                    h1 {
                        font-size: 2rem;
                    }
                }

                .bottom-line p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .home-banner {
        .container {
            .background-image {

                .bottom-line p {
                    font-size: 14px;
                }
            }
        }
    } 
}