.contact-us-section {
    display: grid;
    grid-template-columns: 40% 58%;
    grid-gap: 14px;
    .detail-section {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #d7d1d1;
        border-radius: 10px;
        padding: 20px;
        .contact-heading {
            p {
                margin-bottom: 0;
            }
            .country-buttons {
                .button-row {
                    .button-col {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        button {
                            background: #55b15c;
                            color: white;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            border: 1px solid #d7d1d1;
                            border-radius: 10px;
                            padding: 5px;
                            width: 100%;
                        }
                        button:hover {
                            background: whitesmoke;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

.sample-policy-section {
    margin: 50px 0;
}

.contact-us-form {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #d7d1d1;
    border-radius: 10px;
    padding: 30px;
    .fa-close:hover {
        cursor: pointer;
    }
    .contact-form-heading {
        text-align: center;
        h2 {
            margin-bottom: 30px;
        }
    }
    form {
        .row {
            .alert-danger {
                padding: 7px;
                font-size: 13px;
            }
        }
        .proceed {
            .proceed-button {
                button {
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    border: 1px solid #d7d1d1;
                    border-radius: 5px;
                    font-size: 18px;
                    margin: 20px auto;
                    color: white;
                    background: #55b15c;
                    padding: 5px 25px;
                }
            }
        }
    }
}

@media (max-width:992px) {
    .contact-us-section {
        display: block;
        .detail-section {
            margin-bottom: 30px;
        }
        .contact-us-form {
            .row {
                .lname {
                    margin-top: 1rem !important;
                }
            }
        }
    }
}

@media (max-width:425px) {
    form {
        .alert-success {
            font-size: 13px;
            padding: 7px;
        }
        .alert-danger {
            font-size: 13px;
            padding: 7px;
        }
    }
}