<app-header></app-header>
<section class="order-fail">
    <div class="container">
        <div class="card">
            <div class="heading">
                <img src="assets\icons8-failure-64.png" alt="" class="cancel-icon">
                <h2>Opps! Order Failed</h2> 
                <h5>Your Order is Failed!</h5>
            </div>
            <div class="buttons">
                <a class="btn btn-shop btn-sm" routerLink="/shop" role="button">Continue Shopping
                    <img src="assets\icons8-shopping-cart-16.png" alt=""> </a>

                <a class="btn continue-btn btn-sm" routerLink="/" role="button">Home Page
                    <img src="assets\icons8-shopping-cart-16.png" alt=""> </a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>